/* Dark Theme */
.dark-theme {
    -fx-background-color: #2E2E38;
    -fx-text-fill: #E0E0E0;
}

.dark-theme .title-bar {
    -fx-background-color: #23232B;
    -fx-alignment: center-left;
    -fx-pref-height: 35px;
}

.dark-theme .header-logo {
    -fx-preserve-ratio: true;
}

.dark-theme .header-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.dark-theme .title-bar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Segoe MDL2 Assets";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 0 10px;
}

.dark-theme .title-bar-button:hover {
    -fx-background-color: #3d4a4a;
}

.dark-theme .close-button:hover {
    -fx-background-color: #e81123 !important;
    -fx-text-fill: white;
}

.dark-theme .left-nav {
    -fx-background-color: #23232B;
    -fx-padding: 20px;
    -fx-pref-width: 250px;
    -fx-spacing: 20px;
}

.dark-theme .nav-logo {
    -fx-preserve-ratio: true;
}

.dark-theme .nav-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

.dark-theme .version-label {
    -fx-text-fill: #a0a0a0;
    -fx-font-size: 12px;
    -fx-padding: 2px 0 0 0;
}

.dark-theme .main-content {
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

.light-theme .project-list{
    -fx-background-color: #2E2E38;
    -fx-text-fill: white;
}

.dark-theme .scroll-content,
.dark-theme .viewport {
    -fx-background-color: #2E2E38;
}

.dark-theme .toolbar {
    -fx-background-color: #2E2E38;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

.dark-theme .search-box {
    -fx-background-color: #2E2E38;
    -fx-background-radius: 4px;
    -fx-padding: 3px 8px;
    -fx-min-width: 150px;
    -fx-spacing: 8px;
    -fx-alignment: center-left;
}

.dark-theme .search-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-text-fill: #e0e0e0;
    -fx-border-width: 0;
    -fx-padding: 5px 10px;
    -fx-font-size: 15px;
}

.dark-theme .toolbar-button {
    -fx-background-color: #2E2E38;
    -fx-text-fill: #e0e0e0;
    -fx-padding: 5px 10px;
    -fx-content-display: left;
    -fx-font-size: 13px;
}

.dark-theme .separator:vertical {
    -fx-padding: 0 5px;
}


/* Light Theme */
.light-theme {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #23232B;
}

.light-theme .title-bar {
    -fx-background-color: #F1F1F1;
    -fx-alignment: center-left;
    -fx-pref-height: 35px;
}

.light-theme .header-logo {
    -fx-preserve-ratio: true;
}

.light-theme .header-title {
    -fx-text-fill: #23232B;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.light-theme .title-bar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #23232B;
    -fx-font-family: "Segoe MDL2 Assets";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 0 10px;
}

.light-theme .title-bar-button:hover {
    -fx-background-color: #e0e0e0;
}

.light-theme .close-button:hover {
    -fx-background-color: #e81123 !important;
    -fx-text-fill: white;
}

.light-theme .left-nav {
    -fx-background-color: #F1F1F1;
    -fx-padding: 20px;
    -fx-pref-width: 250px;
    -fx-spacing: 20px;
}

.light-theme .nav-logo {
    -fx-preserve-ratio: true;
}

.light-theme .nav-title {
    -fx-text-fill: #23232B;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

.light-theme .version-label {
    -fx-text-fill: #707070;
    -fx-font-size: 12px;
    -fx-padding: 2px 0 0 0;
}

.light-theme .main-content {
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

.light-theme .project-list{
    -fx-background-color: #F5F5F5;
    -fx-text-fill: #23232B;
}

.light-theme .scroll-content,
.light-theme .viewport {
    -fx-background-color: #F5F5F5;
}

.light-theme .toolbar {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

.light-theme .search-box {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 4px;
    -fx-padding: 3px 8px;
    -fx-min-width: 150px;
    -fx-spacing: 8px;
    -fx-alignment: center-left;
}

.light-theme .search-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-text-fill: #23232B;
    -fx-border-width: 0;
    -fx-padding: 5px 10px;
    -fx-font-size: 15px;
}

.light-theme .toolbar-button {
    -fx-background-color: #F5F5F5;
    -fx-text-fill: #23232B;
    -fx-padding: 5px 10px;
    -fx-content-display: left;
    -fx-font-size: 13px;
}

.light-theme .separator:vertical {
    -fx-padding: 0 5px;
}
