.inline-css {
    -fx-font-family: monospace;
    -fx-font-size: 14px;
    -fx-background-color: #1e1e1e;
    -fx-border-width: 0.5px;
    -fx-border-color: rgba(149, 146, 146, 0.58);
}

.inline-css .paragraph-text .text{
    -fx-fill: white !important;
}

.inline-css .caret {
    -fx-stroke: #00ff00 !important;
}

.inline-css .error {
    -fx-fill: #FF5555 !important; /* red */
    -fx-font-weight: bold;
}

.inline-css .warning {
    -fx-fill: #FFA500 !important; /* orange */
    -fx-font-weight: bold;
}

.inline-css .info {
    -fx-fill: #55FF55 !important; /* green */
}


/* Optional scrollbar styling */
.inline-css .scroll-bar:vertical {
    -fx-background-color: #2e2e2e !important;
}

.inline-css .scroll-bar .thumb {
    -fx-background-color: #555555 !important;
}

